@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
body {
  background-color: #000;
}

.home-banner {
  position: relative;
  overflow: hidden;
}
.home-banner .bg {
  line-height: 0;
  height: 100vh;
  position: relative;
}
.home-banner .bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.368627451) 0%, rgba(0, 0, 0, 0) 100%);
}
@media only screen and (max-width: 1152px) {
  .home-banner .bg {
    height: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .home-banner .bg {
    height: 450px;
  }
}
.home-banner .bg img, .home-banner .bg video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  -o-object-position: top;
     object-position: top;
}
.home-banner .banner-wrapper, .home-banner .figure-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
}
.home-banner .banner-wrapper .content, .home-banner .figure-wrap .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerfluid);
}
.home-banner .banner-wrapper .content .colA h6, .home-banner .figure-wrap .content .colA h6 {
  font-size: 36px;
  line-height: 1.2;
  padding-bottom: 15px;
  font-weight: 400;
}
.home-banner .banner-wrapper .content .colA h1, .home-banner .figure-wrap .content .colA h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
}
.home-banner .banner-wrapper .content .colB, .home-banner .figure-wrap .content .colB {
  text-align: right;
}
.home-banner .banner-wrapper .content .colB li, .home-banner .figure-wrap .content .colB li {
  padding-bottom: 8px;
}
.home-banner .banner-wrapper .content .colB li a, .home-banner .figure-wrap .content .colB li a {
  color: rgba(255, 255, 255, 0.5019607843);
  transition: 0.5s ease;
}
.home-banner .banner-wrapper .content .colB li a.active, .home-banner .figure-wrap .content .colB li a.active {
  color: var(--white);
}
.home-banner .figure-wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 60%;
  bottom: 0%;
  translate: -60% 0%;
  z-index: 2;
}
.home-banner .figure-wrapper .bg_video {
  -webkit-mask-image: url(/assets/images/home/triangle_frame.svg);
          mask-image: url(/assets/images/home/triangle_frame.svg);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.home-banner .figure-wrapper .bg_video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 100%);
}
.home-banner .figure-wrapper .bg_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-secA .heading .upper_nav {
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home-secA .slider_sec {
  position: relative;
}
.home-secA .slider_sec .property-slider-wrapper {
  padding: 30px 0 50px;
}
.home-secA .slider_sec .property-slider-wrapper .property-slider {
  margin: 0 25px;
}

.home-secB .featured_sec {
  position: relative;
  width: 100%;
}
.home-secB .featured_sec .related-slider-wrapper {
  padding: 50px 0 0;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .swiper-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 5%;
  bottom: 10%;
  transform: translate(-5%, 10%);
  z-index: 1;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col {
  display: flex;
  background: var(--black);
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption {
  flex: 0 1 45%;
  padding: 40px 60px;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .loc {
  color: var(--primary);
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .details {
  width: 100%;
  padding: 30px 0 40px;
  display: flex;
  align-items: center;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .details .info {
  flex: 1;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .details .info p {
  font-size: 19px;
  line-height: 1.2;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .details .info .title {
  font-size: 14px;
  color: #CCCCCC;
  line-height: 1.2;
  padding-bottom: 5px;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .price {
  font-size: 31px;
  text-transform: capitalize;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .btn_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .btn_wrapper button, .home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figcaption .btn_wrapper a {
  flex: 1;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figure {
  flex: 1;
  line-height: 0;
}
.home-secB .featured_sec .related-slider-wrapper .related-slider .feature_col figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-secC .top_location {
  position: relative;
}
.home-secC .top_location .top-location-wrapper {
  padding: 50px 0 90px;
}
.home-secC .top_location .top-location-wrapper .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.home-secC .top_location .top-location-wrapper .location-slider {
  max-width: 1200px;
}
.home-secC .top_location .top-location-wrapper .location-slider .loc_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.home-secC .top_location .top-location-wrapper .location-slider .loc_wrapper .loc_col {
  width: 100%;
  background-color: #101010;
  padding: 20px 15px;
  display: flex;
  gap: 15px;
}
.home-secC .top_location .top-location-wrapper .location-slider .loc_wrapper .loc_col figcaption p {
  max-width: 140px;
  font-size: 14px;
  line-height: 1.2;
  color: #9C9A9A;
}
.home-secC .top_location .top-location-wrapper .location-slider .loc_wrapper .loc_col figcaption .name {
  max-width: 100%;
  font-size: 20px;
  color: var(--white);
  line-height: 1;
  padding-bottom: 5px;
}

.home-secD .banner-wrapper .content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.home-secD .banner-wrapper .content .icon {
  margin-bottom: 30px;
}
.home-secD .banner-wrapper .content h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 15px;
}
.home-secD .banner-wrapper .content p {
  margin-bottom: 20px;
}/*# sourceMappingURL=home.css.map */