@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.form {
  --inputsize: 42px;
  --labelbefore: var(--text);
  --labelafter: var(--text);
  --borderbefore: var(--text);
  --borderafter: var(--primary);
  --labelfontbefore: 16px;
  --labelfontafter: 12px;
  --font: 500;
  --color: var(--black);
  --borderwidth: 1px;
  --labelbackground: none;
  --font: normal;
  --textareaheight: 86px;
  --paddingleftright: 0px;
}
.form .form-group {
  position: relative;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  --selectheight: var(--inputsize);
  line-height: 0;
}
.form .form-group.hasCalender {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%237E84A3' d='M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.form .form-group.hasCalender.hasCalender-white {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'><path fill='%23ffffff' d='M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3m1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z'/></svg>");
}
.form .form-group.active::after {
  width: 100%;
}
.form .form-group::before, .form .form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--borderwidth);
  transition: 0.5s ease;
}
.form .form-group::before {
  background: var(--borderbefore);
}
.form .form-group::after {
  width: 0;
  background: var(--borderafter);
}
.form .form-group label {
  font-weight: var(--font);
  position: absolute;
  top: calc(var(--inputsize) / 2 - var(--labelfontbefore) / 2);
  left: var(--paddingleftright);
  color: var(--labelbefore);
  line-height: 1;
  font-size: var(--labelfontbefore);
  background: var(--labelbackground);
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.form .form-group input, .form .form-group textarea {
  height: calc(var(--inputsize) - var(--borderwidth));
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  cursor: initial;
  padding: 0 var(--paddingleftright);
}
.form .form-group input:focus, .form .form-group input.valid, .form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
}
.form .form-group input:focus ~ label, .form .form-group input.valid ~ label, .form .form-group textarea:focus ~ label, .form .form-group textarea.valid ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -2);
}
.form .form-group textarea {
  height: var(--textareaheight);
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  line-height: 1.2;
  cursor: initial;
  padding: 0 var(--paddingleftright);
  padding-right: 15px;
}
.form .form-group textarea::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.form .form-group textarea::-webkit-scrollbar-track {
  box-shadow: none;
}
.form .form-group textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 15px;
}
.form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
  margin-top: 13px;
  height: calc(var(--textareaheight) - 13px);
}
.form .form-group select:focus {
  outline: none;
}
.form .form-group select ~ label {
  position: absolute;
  top: calc(var(--labelfontafter) / -2);
  left: var(--paddingleftright);
  color: var(--labelafter);
  translate: 0 0;
  font-size: var(--labelfontafter);
  opacity: 0;
  transition: 0.6s ease;
}
.form .form-group select.valid {
  color: var(--color);
}
.form .form-group select.valid ~ label {
  opacity: 1;
}
.form .submit-grp:not(.text-left) {
  text-align: center;
  margin-top: 23px;
}

.custom-select {
  max-width: 100%;
  cursor: pointer;
  display: block;
  font-family: inherit;
  height: var(--selectheight);
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding: 0 var(--paddingleftright);
  --arrow: 15px;
  --arrowspace: 8px;
}
.custom-select.has-icon {
  --iconsize: 12px;
  --iconurl: url(../../icon/location-gradient.svg);
  --iconspace: 8px;
}
.custom-select.has-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.custom-select.has-icon::after {
  left: 0;
  width: var(--iconsize);
  background-image: var(--iconurl);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
}
.custom-select.has-icon .current {
  padding-left: calc(var(--iconsize) + var(--iconspace));
  padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace));
}
.custom-select::before {
  content: "";
  position: absolute;
  top: 0;
  right: var(--paddingleftright);
  bottom: 0;
  width: var(--arrow);
  background-image: url(../../icon/arrow-down-gray.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.custom-select .current {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--inputsize);
  color: var(--labelbefore);
  font-size: var(--labelfontbefore);
  font-weight: var(--font);
  padding-right: calc(var(--arrow) + var(--arrowspace));
}
.custom-select .current.selected {
  color: var(--color);
}
.custom-select .list {
  text-align: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform-origin: 50% 0;
  z-index: 7;
  max-height: 180px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  pointer-events: none;
}
.custom-select .list::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.custom-select .list::-webkit-scrollbar-track {
  box-shadow: none;
}
.custom-select .list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}
.custom-select .list li {
  display: block;
  line-height: 1.2;
  padding: 8px 16px;
  white-space: break-spaces;
  font-size: 14px;
}
.custom-select .list li.selected {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li.selected:hover {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li:hover {
  background: #e2e2e2;
}
.custom-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.daterangepicker {
  font-family: Circular !important;
}
.daterangepicker option.disabled, .daterangepicker td.disabled {
  text-decoration: none !important;
}
.daterangepicker td.active {
  background-color: var(--primary) !important;
}
.daterangepicker .drp-buttons .btn {
  --height: 30px;
  padding: 0 15px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --headerpadding: 15px;
  --headerheight: 95px;
  --headerfixed: 60px;
  --footerstrip: 38px;
  --primary: #CC9B50;
  --secondary: #5D4115;
  --gradient-a: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  --gradient-b: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
  --gradient-c: linear-gradient(180deg, #FFFFFF 0%, #FDF4DA 100%);
  --gradient-d: linear-gradient(270deg, #FDF4DA 0%, #FFFFFF 100%);
  --text: #666666;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #EFEFEF;
  --container: 1280px;
  --containerfluid: 2rem;
}
@media only screen and (max-width: 1152px) {
  :root {
    --containerfluid: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --containerfluid: 15px;
    --bottomheader: 75px;
    --bottomheaderpadding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --headerheight: 78px;
  }
}
@media only screen and (max-width: 540px) {
  :root {
    --headerheight: 65px;
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --containerfluid: 10px;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  background: var(--black);
}
body::-webkit-scrollbar-track {
  box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
body.overflow-hidden {
  overflow: hidden;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden {
    margin-right: 0;
  }
}
body.overflow-hidden header {
  width: calc(100% - 8px);
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden header {
    width: 100%;
  }
}

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: Circular;
  font-weight: 400;
}

b {
  font-weight: 500;
}

small {
  font-size: 14px;
  line-height: 22px;
  display: block;
}

select {
  display: none;
}

a[href] {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
a[href].logo {
  display: block;
  line-height: 0;
}

svg path {
  transition: 0.5s ease;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container.container2 .heading {
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container.container2 .heading {
    padding-right: 10px;
  }
}

.container-fluid {
  padding: 0 var(--containerfluid);
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 64px;
  line-height: 1.05;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 58px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 54px;
  line-height: 1.2;
}

h3 {
  font-size: 48px;
  line-height: 1.2;
}

.sec-pad {
  padding: 70px 0;
}
@media only screen and (max-width: 991px) {
  .sec-pad {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 768px) {
  .sec-pad {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 540px) {
  .sec-pad {
    padding: 40px 0;
  }
}

.grad {
  -webkit-text-fill-color: transparent();
  -webkit-background-clip: text;
  background-image: var(--gradient-b);
}

.heading h3, .heading h2 {
  font-family: Optima;
  font-size: 40px;
  line-height: 1.2;
  color: var(--white);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent();
  -webkit-background-clip: text;
  background-image: var(--gradient-b);
}
@media only screen and (max-width: 1152px) {
  .heading h3, .heading h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .heading h3, .heading h2 {
    font-size: 28px;
  }
}
.heading.h-medium h3, .heading.h-medium h2 {
  font-size: 36px;
}
@media only screen and (max-width: 675px) {
  .heading.h-medium h3, .heading.h-medium h2 {
    font-size: 30px;
  }
}
.heading.h-normal h3, .heading.h-normal h2 {
  font-size: 40px;
}
@media only screen and (max-width: 675px) {
  .heading.h-normal h3, .heading.h-normal h2 {
    font-size: 30px;
  }
}
.heading.h-large h3, .heading.h-large h2 {
  font-family: Kugile;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media only screen and (max-width: 1152px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 991px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 675px) {
  .heading.h-large h3, .heading.h-large h2 {
    font-size: 28px;
  }
}
.heading.c-white h2, .heading.c-white h3, .heading.c-white p {
  color: var(--white);
}
.heading.c-black h2, .heading.c-black h3 {
  color: var(--black);
}
.heading.c-black p {
  color: var(--text);
  margin-top: 6px;
}
.heading.c-primary h2, .heading.c-primary h3 {
  color: var(--primary);
}
.heading.c-primary h2 ~ p, .heading.c-primary h3 ~ p {
  color: var(--text);
  margin-top: 10px;
}
.heading span {
  color: var(--primary);
}

h4 {
  font-size: 36px;
  line-height: 1.28;
}

h5 {
  font-size: 24px;
  line-height: 1.167;
}
@media only screen and (max-width: 1152px) {
  h5 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 675px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.inline-flex {
  --gap: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0 var(--gap);
}

img {
  max-width: 100%;
}

input, button, select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  border-radius: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

video {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.tab-nav {
  cursor: default;
}
.tab-nav [data-tab] {
  cursor: pointer;
  caret-color: transparent;
}

.tab-nav-content {
  position: relative;
}
.tab-nav-content .tabs:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.item-md {
  position: relative;
  position: relative;
}
.item-md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.item-md::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.item-md::before, .item-md::after {
  z-index: 1;
}
.item-md::after {
  content: none;
}
.item-md figure, .item-md .figure {
  display: block;
  overflow: hidden;
  line-height: 0;
  height: 100%;
}
.item-md figure img, .item-md figure video, .item-md .figure img, .item-md .figure video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.item-md figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.item-md .link-md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.item-md.center-item figcaption {
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: 0s ease 0.5s, opacity 0.5s ease;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .overlay {
    z-index: 2;
  }
}
@media only screen and (max-width: 675px) {
  .overlay {
    display: none;
  }
}
.overlay.is-open {
  transition: opacity 1s ease;
  opacity: 1;
  transform: translateY(0%);
}

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 7;
  background: var(--white);
  background-position: 0% 80%;
  background-size: 75%;
  max-width: 435px;
  width: 100%;
}
.model .close:not(.btn, .close-video) {
  position: absolute;
  top: 0;
  right: 0;
  top: 40px;
  right: 40px;
}
@media only screen and (max-width: 520px) {
  .model .close:not(.btn, .close-video) {
    top: 20px;
    right: 20px;
  }
}
.model .close:not(.btn, .close-video) path {
  stroke: var(--black);
}

.btn {
  --height: 40px;
  --padding: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  vertical-align: middle;
  height: var(--height);
  line-height: var(--height);
  padding: 0 var(--padding);
  overflow: hidden;
  text-transform: capitalize;
  color: var(--black);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: 0.5s ease;
  caret-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  background: var(--primary);
  z-index: 1;
  position: relative;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--gradient-a);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--gradient-b);
}
.btn::before, .btn::after {
  z-index: -1;
  transition: 0.5s ease;
}
.btn::after {
  opacity: 0;
}
.btn:hover::before {
  opacity: 0;
}
.btn:hover::after {
  opacity: 1;
}
.btn:hover path {
  fill: var(--black);
}
.btn.white-border {
  border: 1px solid var(--white);
  color: var(--white);
  background: transparent;
}
.btn.white-border::before {
  display: none;
}
.btn.white-border:hover {
  border-image-source: var(--gradient-b);
  border-image-repeat: repeat;
  border-image-width: auto;
  border-image-slice: 1;
  color: var(--black);
  border-top-color: var(--gradient-a);
}
.btn.black-border {
  border: 1px solid var(--black);
  color: var(--black);
  background: transparent;
}
.btn.black-border::before {
  display: none;
}
.btn.black-border:hover {
  border-image-source: var(--gradient-b);
  border-image-repeat: repeat;
  border-image-width: auto;
  border-image-slice: 1;
  color: var(--black);
  border-top-color: var(--gradient-a);
}
.btn.white {
  background: var(--white);
}
.btn.white::before {
  display: none;
}
.btn.w-100 {
  width: 100%;
}

.read-more {
  --arrowsize: 16px;
  --space: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--primary);
  background-image: url(../../icon/arrow-down-primary.svg);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 100%;
  background-position: 100% 50%;
  background-size: var(--arrowsize) auto;
  padding-right: calc(var(--arrowsize) + var(--space));
  transition: color 0.5s ease;
  text-transform: uppercase;
}
.read-more.active {
  background-image: url(../../icon/arrow-up-primary.svg);
}
.read-more.active:hover {
  color: var(--black);
  background-image: url(../../icon/arrow-up-black.svg);
}
.read-more:hover {
  color: var(--black);
  background-image: url(../../icon/arrow-down-black.svg);
}

.form-grid {
  --item: 1;
  --gaplr: 30px;
  --gaptb: 32px;
  display: grid;
  grid-template-columns: repeat(var(--item), calc((100% - var(--gaplr) * (var(--item) - 1)) / var(--item)));
  gap: var(--gaptb) var(--gaplr);
}
.form-grid .full {
  grid-column: span var(--item);
}

.btn-div-btm > *:not(:last-child) {
  margin-right: 14px;
}
@media only screen and (max-width: 675px) {
  .btn-div-btm > *:not(:last-child) {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 675px) {
  .btn-div-btm .btn {
    --padding: 12px;
    font-size: 14px;
  }
}

.swiper-slide {
  height: auto;
}

.swiper-nav {
  line-height: 0;
}
.swiper-nav.hide-btn-no-loop .swiper-prev.swiper-button-disabled, .swiper-nav.hide-btn-no-loop .swiper-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.swiper-nav.swiper-group {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 11px;
}
.swiper-nav.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.swiper-nav.center-full .swiper-prev, .swiper-nav.center-full .swiper-next {
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.swiper-nav.icon-width-auto .swiper-next svg, .swiper-nav.icon-width-auto .swiper-prev svg {
  width: auto;
  height: auto;
}

.swiper-prev svg, .swiper-prev img {
  transform: scaleX(-1);
}

.swiper-prev, .swiper-next {
  --size: 45px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.5s ease;
}
.swiper-prev path, .swiper-next path {
  fill: var(--white);
}
.swiper-prev:hover:not(.swiper-button-disabled), .swiper-next:hover:not(.swiper-button-disabled) {
  background: var(--white);
  border-color: var(--white);
}
.swiper-prev:hover:not(.swiper-button-disabled) path, .swiper-next:hover:not(.swiper-button-disabled) path {
  fill: var(--primary);
}
.swiper-prev.no-background, .swiper-next.no-background {
  height: auto;
  width: auto;
  display: block;
  background: none;
  border: none;
  line-height: 0;
}
.swiper-prev.no-background path, .swiper-next.no-background path {
  fill: initial;
}
.swiper-prev.no-background:hover, .swiper-next.no-background:hover {
  background: none;
}
.swiper-prev.no-background:hover path, .swiper-next.no-background:hover path {
  fill: initial;
}
.swiper-prev.white, .swiper-next.white {
  background: var(--white);
  border-color: var(--white);
}
.swiper-prev.white path, .swiper-next.white path {
  fill: var(--black);
}
.swiper-prev.white:hover:not(.swiper-button-disabled), .swiper-next.white:hover:not(.swiper-button-disabled) {
  background: var(--primary);
  border-color: var(--primary);
}
.swiper-prev.white:hover:not(.swiper-button-disabled) path, .swiper-next.white:hover:not(.swiper-button-disabled) path {
  fill: var(--white);
}
.swiper-prev.primary-border, .swiper-next.primary-border {
  border-color: var(--primary);
  background: none;
}
.swiper-prev.primary-border path, .swiper-next.primary-border path {
  fill: var(--primary);
}
.swiper-prev.primary-border:hover:not(.swiper-button-disabled), .swiper-next.primary-border:hover:not(.swiper-button-disabled) {
  background: var(--primary);
}
.swiper-prev.primary-border:hover:not(.swiper-button-disabled) path, .swiper-next.primary-border:hover:not(.swiper-button-disabled) path {
  fill: var(--white);
}
.swiper-prev.white-border, .swiper-next.white-border {
  border-color: var(--white);
  background: none;
}
.swiper-prev.white-border path, .swiper-next.white-border path {
  fill: var(--white);
}
.swiper-prev.white-border:hover:not(.swiper-button-disabled), .swiper-next.white-border:hover:not(.swiper-button-disabled) {
  background: var(--white);
}
.swiper-prev.white-border:hover:not(.swiper-button-disabled) path, .swiper-next.white-border:hover:not(.swiper-button-disabled) path {
  fill: var(--primary);
}
.swiper-prev.gray-border, .swiper-next.gray-border {
  border-color: #828282;
  background: none;
}
.swiper-prev.gray-border path, .swiper-next.gray-border path {
  fill: #828282;
}
.swiper-prev.gray-border:hover:not(.swiper-button-disabled), .swiper-next.gray-border:hover:not(.swiper-button-disabled) {
  background: var(--secondary);
}
.swiper-prev.gray-border:hover:not(.swiper-button-disabled) path, .swiper-next.gray-border:hover:not(.swiper-button-disabled) path {
  fill: var(--white);
}
.swiper-prev.black-border, .swiper-next.black-border {
  border-color: var(--black);
  background: none;
}
.swiper-prev.black-border path, .swiper-next.black-border path {
  fill: var(--black);
}
.swiper-prev.black-border:hover:not(.swiper-button-disabled), .swiper-next.black-border:hover:not(.swiper-button-disabled) {
  background: var(--black);
}
.swiper-prev.black-border:hover:not(.swiper-button-disabled) path, .swiper-next.black-border:hover:not(.swiper-button-disabled) path {
  fill: var(--white);
}
.swiper-prev.swiper-btn-large, .swiper-next.swiper-btn-large {
  --size: 59px;
}
@media only screen and (max-width: 991px) {
  .swiper-prev.swiper-btn-large, .swiper-next.swiper-btn-large {
    --size: 48px;
  }
}
.swiper-prev.swiper-button-disabled, .swiper-next.swiper-button-disabled {
  cursor: no-drop;
  opacity: 0.4;
}
.swiper-prev.swiper-button-lock, .swiper-next.swiper-button-lock {
  display: none !important;
}

.play-btn {
  --btnsize: 51px;
  --border: 1px;
  --bordercolor: var(--white);
  --playbtncolor: var(--white);
  height: var(--btnsize);
  width: var(--btnsize);
  border-radius: 50%;
  border: var(--border) solid var(--bordercolor);
  position: relative;
  background: none;
}
@media only screen and (max-width: 1024px) {
  .play-btn {
    --btnsize: 50px;
  }
}
@media only screen and (max-width: 675px) {
  .play-btn {
    --btnsize: 45px;
    --border: 1px;
  }
}
.play-btn::before {
  width: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: "";
  transform: translateX(-50%) translateY(-50%);
  background: var(--bordercolor);
  border-radius: 50%;
  display: block;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  border-top: calc(var(--btnsize) / 8) solid transparent;
  border-bottom: calc(var(--btnsize) / 8) solid transparent;
  border-left: calc(var(--btnsize) / 5.6) solid var(--playbtncolor);
}

.website-content > :first-child {
  margin-top: 0 !important;
}
.website-content > :last-child {
  margin-bottom: 0 !important;
}
.website-content h1 {
  font-size: 48px;
  margin-bottom: 45px;
  text-align: center;
  font-family: Kugile;
}
@media only screen and (max-width: 675px) {
  .website-content h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 520px) {
  .website-content h1 {
    font-size: 30px;
  }
}
.website-content h2 {
  font-size: 34px;
  font-weight: 600;
}
@media only screen and (max-width: 675px) {
  .website-content h2 {
    font-size: 24px;
  }
}
.website-content h3 {
  font-size: 28px;
  line-height: 1.21;
  font-weight: 600;
}
@media only screen and (max-width: 675px) {
  .website-content h3 {
    font-size: 22px;
  }
}
.website-content h4 {
  font-size: 24px;
}
@media only screen and (max-width: 675px) {
  .website-content h4 {
    font-size: 20px;
  }
}
.website-content h5 {
  font-size: 18px;
  font-weight: 600;
}
@media only screen and (max-width: 675px) {
  .website-content h5 {
    font-size: 18px;
  }
}
.website-content h6 {
  font-size: 18px;
  font-weight: 600;
}
.website-content h2, .website-content h3, .website-content h4 {
  margin: 40px 0 18px;
}
.website-content h5, .website-content h6 {
  margin: 28px 0 18px;
}
.website-content p, .website-content li {
  color: var(--text);
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -0.07em;
}
.website-content p b, .website-content li b {
  font-weight: 700;
  color: var(--black);
}
.website-content a {
  color: var(--black);
}
.website-content a:hover {
  text-decoration: underline;
}
.website-content p, .website-content ul {
  margin-bottom: 20px;
}
.website-content ul {
  padding-left: 18px;
}
@media only screen and (max-width: 675px) {
  .website-content ul {
    padding-left: 10px;
  }
}
.website-content ul li {
  position: relative;
  padding-left: 28px;
}
@media only screen and (max-width: 675px) {
  .website-content ul li {
    padding-left: 20px;
  }
}
.website-content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.website-content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
}

.kmr-animate {
  transition: 1.2s ease;
}

[data-video], [data-model] {
  cursor: pointer;
}

.banner {
  position: relative;
}
.banner:not(.banner-banner) {
  position: relative;
}
.banner:not(.banner-banner)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.banner:not(.banner-banner)::before {
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.banner.center-banner .banner-wrapper {
  bottom: 45%;
  translate: 0 50%;
}
@media only screen and (max-width: 675px) {
  .banner.center-banner .banner-wrapper {
    bottom: 20%;
    translate: none;
    top: auto;
  }
}
.banner .bg {
  height: 100vh;
  line-height: 0;
}
@media only screen and (max-width: 1152px) {
  .banner .bg {
    height: 570px;
  }
}
@media only screen and (max-width: 675px) {
  .banner .bg {
    height: 400px;
  }
}
.banner .bg video, .banner .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: 3;
}
.banner .content.ttl-m h1 {
  font-size: 36px;
}
.banner .content.content-white > *:not(.btn) {
  color: var(--white);
}
.banner .content.f-semibold h1 {
  font-weight: 600;
}
.banner .content h1 {
  font-size: 64px;
  line-height: 1.3;
  font-family: Kugile;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 1152px) {
  .banner .content h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 767px) {
  .banner .content h1 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 675px) {
  .banner .content h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 365px) {
  .banner .content h1 {
    font-size: 28px;
  }
}
.banner .content h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.302;
}
@media only screen and (max-width: 675px) {
  .banner .content h5 {
    font-size: 18px;
  }
}

.project-col .figure, .project-col figure {
  line-height: 0;
  width: 100%;
  line-height: 0;
  display: block;
  position: relative;
  overflow: hidden;
}
.project-col .figure::before, .project-col figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.project-col .figure:hover::before, .project-col figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.project-col .figure img, .project-col figure img {
  width: 100%;
  aspect-ratio: 1.549;
  transition: 0.6s ease;
}
.project-col .figure:is(a):hover img, .project-col figure:is(a):hover img {
  transform: scale(1.05);
}
.project-col figcaption {
  background: #FBE8B0;
  padding: 25px 30px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.project-col figcaption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(270deg, #FBE8B0 0%, #DCC98E 100%);
}
@media only screen and (max-width: 1152px) {
  .project-col figcaption {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 991px) {
  .project-col figcaption {
    padding: 20px 15px;
  }
}
@media only screen and (max-width: 675px) {
  .project-col figcaption {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
.project-col figcaption::before {
  opacity: 0;
  transition: 0.5s ease;
  z-index: 0;
}
.project-col figcaption .inf {
  flex: 1;
  position: relative;
  z-index: 1;
}
.project-col figcaption .inf .ttl {
  font-size: 40px;
  line-height: 1.215;
  color: var(--black);
}
@media only screen and (max-width: 1152px) {
  .project-col figcaption .inf .ttl {
    font-size: 34px;
  }
}
@media only screen and (max-width: 991px) {
  .project-col figcaption .inf .ttl {
    font-size: 28px;
  }
}
.project-col figcaption .inf p {
  font-size: 18px;
  line-height: 1.34;
  color: var(--black);
  font-weight: 500;
}
@media only screen and (max-width: 1152px) {
  .project-col figcaption .inf p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .project-col figcaption .inf p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 520px) {
  .project-col figcaption .inf p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 991px) {
  .project-col figcaption .btn-div .btn {
    font-size: 14px;
    --height: 34px;
    --padding: 12px;
  }
}
.project-col figcaption .btn-div .btn::after {
  background: var(--white);
}
.project-col figcaption .btn-div .btn:hover {
  border-image-source: none;
  border-color: var(--black);
}
.project-col:hover:has(a.ttl:hover) figcaption::before {
  opacity: 1;
}
.project-col:hover:has(a.ttl:hover) .figure:is(a) img, .project-col:hover:has(a.ttl:hover) figure:is(a) img {
  transform: scale(1.05);
}
.project-col:hover:has(a.figure:hover) figcaption::before {
  opacity: 1;
}
.project-col.blog-col figcaption .inf .ttl {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-col.blog-col figcaption .inf .date {
  font-size: 14px;
  margin-top: 10px;
}

.slider-section .upper-sec {
  position: relative;
  margin-bottom: 65px;
}
@media only screen and (max-width: 767px) {
  .slider-section .upper-sec {
    margin-bottom: 42px;
  }
}
.slider-section .upper-sec .swiper-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
}
@media only screen and (max-width: 675px) {
  .slider-section .upper-sec .swiper-nav {
    display: none;
  }
}

.ico-sys {
  -webkit-mask-image: url(../../images/vector/vector-2.svg);
          mask-image: url(../../images/vector/vector-2.svg);
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  aspect-ratio: 1.6897081413;
  line-height: 0;
}
.ico-sys video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-hdrfxd {
  margin-top: var(--headerfixed);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: 0.5s ease;
  height: var(--headerheight);
  transition: box-shadow 0s ease, 0.5s ease;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #282828;
}
header::after {
  height: 0;
  z-index: -1;
  transition: 0.5s ease;
}
header.header-fixed, header.header-fill {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.0588235294), 0px 4px 6px -1px rgba(0, 0, 0, 0.1019607843);
}
header.header-fixed::after, header.header-fill::after {
  height: 100%;
}
header.header-fixed {
  height: var(--headerfixed);
}
header .header-wrapper {
  padding: 0 var(--containerfluid);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .header-wrapper .colA, header .header-wrapper .colB {
  display: flex;
  height: 100%;
}
header .header-wrapper .colA {
  flex: 0 1 auto;
  padding: var(--headerpadding) 0;
}
header .header-wrapper .colA a, header .header-wrapper .colA img {
  height: 100%;
}
header .header-wrapper .colB {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
header .header-wrapper .colB ul li {
  display: inline-block;
  vertical-align: middle;
  color: var(--white);
  font-weight: 500;
}
header .header-wrapper .colB ul li:not(:last-child) {
  margin-right: 38px;
}
@media only screen and (max-width: 540px) {
  header .header-wrapper .colB ul li:not(:last-child) {
    margin-right: 12px;
  }
}
header .header-wrapper .colB ul li a, header .header-wrapper .colB ul li span {
  display: inline-block;
  line-height: 1.608125;
}
header .header-wrapper .colB ul li .ham-btn {
  width: 37px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --border: 2px;
  --background: var(--secondary);
}
header .header-wrapper .colB ul li .ham-btn:hover {
  --background: var(--primary);
}
header .header-wrapper .colB ul li .ham-btn span {
  display: block;
  width: 100%;
  height: var(--border);
  background: var(--background);
  transition: 0.5s ease;
}

.model.ham-pop {
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  transform: translateX(100%);
  background: none;
}
.model.ham-pop.is-open {
  transform: translateX(0%);
}
.model.ham-pop.is-open .model-body .upper-sec {
  transform: translateY(0%);
}
.model.ham-pop.is-open .model-body .upper-sec ul {
  text-align: center;
  padding-top: 7rem;
  transform: translateY(0%) scale(1);
  opacity: 1;
  transition: 1s ease 0.4s;
}
.model.ham-pop.is-open .model-body .bottom-sec {
  transform: translateY(0%);
}
.model.ham-pop .close {
  z-index: 3;
}
.model.ham-pop .model-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
.model.ham-pop .model-body .upper-sec {
  flex: 0 1 60%;
  max-height: 60%;
  height: 100%;
  background: var(--white);
  position: relative;
  z-index: 2;
  transform: translateY(-100%);
  transition: 0.5s ease;
}
.model.ham-pop .model-body .upper-sec ul {
  text-align: center;
  padding-top: 7rem;
  transform: translateY(100%) scale(0.8);
  opacity: 0;
}
@media only screen and (max-width: 1024px) {
  .model.ham-pop .model-body .upper-sec ul {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.model.ham-pop .model-body .upper-sec ul li {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
@media only screen and (max-width: 991px) {
  .model.ham-pop .model-body .upper-sec ul li {
    display: block;
  }
}
.model.ham-pop .model-body .upper-sec ul li:not(:last-child) {
  margin-right: 54px;
}
@media only screen and (max-width: 1152px) {
  .model.ham-pop .model-body .upper-sec ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .model.ham-pop .model-body .upper-sec ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.model.ham-pop .model-body .upper-sec ul li a {
  display: block;
  font-size: 40px;
  font-family: Kugile;
  line-height: 1;
  color: #282828;
  text-transform: uppercase;
  position: relative;
  --ico: 15px;
}
@media only screen and (max-width: 1280px) {
  .model.ham-pop .model-body .upper-sec ul li a {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1152px) {
  .model.ham-pop .model-body .upper-sec ul li a {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .model.ham-pop .model-body .upper-sec ul li a {
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  .model.ham-pop .model-body .upper-sec ul li a {
    font-size: 28px;
  }
}
.model.ham-pop .model-body .upper-sec ul li a:hover {
  color: var(--primary);
}
.model.ham-pop .model-body .bottom-sec {
  flex: 0 1 40%;
  max-height: 40%;
  height: 100%;
  background: var(--white);
  position: relative;
  z-index: 2;
  border: none;
  padding: inherit;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.model.ham-pop .model-body .bottom-sec .bottom-sec-wrap {
  background: #282828;
  padding-top: 12rem;
  height: 100%;
}
@media only screen and (max-width: 1366px) {
  .model.ham-pop .model-body .bottom-sec .bottom-sec-wrap {
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 767px) {
  .model.ham-pop .model-body .bottom-sec .bottom-sec-wrap {
    padding-top: 6rem;
  }
}
.model.ham-pop .model-body .bottom-sec .sail-ico {
  --size: 122px;
  height: var(--size);
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: calc(100% - 3rem);
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .model.ham-pop .model-body .bottom-sec .sail-ico {
    --size: 115px;
    bottom: calc(100% - 3rem);
  }
}
.model.ham-pop .model-body .bottom-sec .sail-ico img, .model.ham-pop .model-body .bottom-sec .sail-ico video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: moveDown2 2s ease-in-out infinite alternate;
}
@keyframes moveDown2 {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.model.ham-pop .model-body .bottom-sec .btm-wrp {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
@media only screen and (max-width: 767px) {
  .model.ham-pop .model-body .bottom-sec .btm-wrp {
    grid-template-columns: 100%;
    text-align: center;
    gap: 1rem;
  }
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .social-icons a {
  display: inline-block;
  vertical-align: middle;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .social-icons a:not(:last-child) {
  margin-right: 1.2rem;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .social-icons a path {
  transition: 0.5s ease;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .social-icons a:hover path {
  fill: var(--primary);
}
.model.ham-pop .model-body .bottom-sec .btm-wrp ul {
  text-align: center;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp ul li {
  display: inline-block;
  vertical-align: middle;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp ul li:not(:last-child) {
  margin-right: 1rem;
}
.model.ham-pop .model-body .bottom-sec .btm-wrp ul li a {
  color: var(--white);
}
.model.ham-pop .model-body .bottom-sec .btm-wrp ul li a:hover {
  color: var(--primary);
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .email-div {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .model.ham-pop .model-body .bottom-sec .btm-wrp .email-div {
    text-align: center;
  }
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .email-div a {
  color: var(--white);
}
.model.ham-pop .model-body .bottom-sec .btm-wrp .email-div a:hover {
  color: var(--primary);
}

.enquire-pop {
  right: 0;
  transform: translateX(100%);
  transition: 0.5s ease;
  background-color: var(--white);
  background-image: url(../../images/vector/vector-1.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto 28%;
}
.enquire-pop.is-open {
  transform: translateX(0%);
}
.enquire-pop .model-body {
  padding: 60px 35px 30px;
  height: 100%;
  overflow-y: auto;
}
.enquire-pop .model-body::-webkit-scrollbar {
  width: 3px;
  background: var(--white);
  height: 3px;
}
.enquire-pop .model-body::-webkit-scrollbar-track {
  box-shadow: none;
}
.enquire-pop .model-body::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
  border-radius: 8px;
}
@media only screen and (max-width: 675px) {
  .enquire-pop .model-body {
    padding: 50px 20px 30px;
  }
}
.enquire-pop .model-body .title {
  text-align: center;
  margin-bottom: 2rem;
}
.enquire-pop .model-body .title h4 {
  font-size: 32px;
  color: var(--primary);
  font-family: Kugile;
}
.enquire-pop .model-body .title p {
  color: var(--text);
  margin-top: 10px;
}
.enquire-pop .model-body .title p small {
  line-height: 20px;
}
.enquire-pop .model-body .form {
  --gaptb: 15px;
}

.video-pop {
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4784313725);
  z-index: 9;
  max-width: 100%;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.video-pop.is-open {
  transform: translateY(0%);
}
.video-pop .close-video {
  position: absolute;
  bottom: calc(100% + 20px);
  top: auto;
  right: -40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 675px) {
  .video-pop .close-video {
    right: 0;
  }
}
.video-pop .close-video:hover {
  background: var(--secondary);
}
.video-pop .close-video svg {
  height: 35%;
  width: 35%;
}
.video-pop .close-video path {
  stroke-width: 2;
  stroke: var(--white);
}
.video-pop .model-body {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  max-width: 50%;
}
@media only screen and (max-width: 675px) {
  .video-pop .model-body {
    max-width: 95%;
  }
}
.video-pop .model-body iframe {
  width: 100%;
  aspect-ratio: 1.9;
  border: 2px solid var(--white);
}

.footer-strip {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: var(--primary);
  display: none;
}
@media only screen and (max-width: 675px) {
  .footer-strip {
    display: block;
  }
}
.footer-strip ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-strip ul li {
  flex: 1;
}
.footer-strip ul li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-strip ul li a {
  display: block;
  text-align: center;
  color: var(--white);
  height: var(--footerstrip);
  line-height: var(--footerstrip);
}

footer {
  background: var(--white);
  position: relative;
}
footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 34px 0 50px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 991px) {
  footer .footer-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 675px) {
  footer .footer-wrapper {
    grid-template-columns: 100%;
  }
}
footer .footer-wrapper ul li:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer-wrapper ul li a {
  display: block;
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 0;
}
footer .footer-wrapper ul li a:hover {
  color: var(--primary);
}
footer .footer-wrapper .colA {
  display: flex;
  padding-right: 221px;
}
@media only screen and (max-width: 1280px) {
  footer .footer-wrapper .colA {
    padding-right: 160px;
  }
}
@media only screen and (max-width: 1152px) {
  footer .footer-wrapper .colA {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 991px) {
  footer .footer-wrapper .colA {
    order: 2;
  }
}
footer .footer-wrapper .colA .col-md:not(:last-child) {
  margin-right: 95px;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper .colA .col-md:not(:last-child) {
    margin-right: 45px;
  }
}
@media only screen and (max-width: 991px) {
  footer .footer-wrapper .colB {
    order: 1;
    grid-column: span 2;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 675px) {
  footer .footer-wrapper .colB {
    grid-column: initial;
  }
}
footer .footer-wrapper .colB .logo {
  width: 143px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
}
@media only screen and (max-width: 1152px) {
  footer .footer-wrapper .colB .logo {
    width: 120px;
  }
}
footer .footer-wrapper .colB .logo img {
  width: 100%;
}
footer .footer-wrapper .colB .social-icon {
  margin-top: 90px;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  footer .footer-wrapper .colB .social-icon {
    margin-top: 40px;
  }
}
footer .footer-wrapper .colB .social-icon a:not(:last-child) {
  margin-right: 36px;
}
@media only screen and (max-width: 1152px) {
  footer .footer-wrapper .colB .social-icon a:not(:last-child) {
    margin-right: 24px;
  }
}
footer .footer-wrapper .colB .social-icon a:hover path {
  fill: var(--primary);
}
footer .footer-wrapper .colC {
  padding-left: 175px;
}
@media only screen and (max-width: 1152px) {
  footer .footer-wrapper .colC {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 991px) {
  footer .footer-wrapper .colC {
    order: 3;
    padding-left: 0;
  }
}
@media only screen and (max-width: 675px) {
  footer .footer-wrapper .colC {
    margin-top: 2.5rem;
  }
}
footer .footer-wrapper .colC .btn-div {
  margin-top: 24px;
  display: flex;
  gap: 15px;
}
@media only screen and (max-width: 675px) {
  footer .footer-wrapper .colC .btn-div {
    justify-content: center;
    display: none;
  }
}
footer .footer-wrapper .colC .btn-div .btn {
  --height: 43px;
}
footer .bottom-footer {
  background: #E2DFDF;
  padding: 19px 0;
}
@media only screen and (max-width: 675px) {
  footer .bottom-footer {
    margin-bottom: var(--footerstrip);
  }
}
footer .bottom-footer .flex {
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  footer .bottom-footer .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
footer .bottom-footer .flex p {
  font-size: 14px;
  line-height: 18px;
  color: var(--text);
}
footer .bottom-footer .flex p a {
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
footer .bottom-footer .flex p a img {
  width: 70px;
  margin-left: 12px;
}

@media only screen and (max-width: 675px) {
  .footer-form {
    height: 600px;
  }
}
.footer-form::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8645) 48.65%, rgba(0, 0, 0, 0) 98.47%);
}
.footer-form figcaption {
  bottom: auto;
  top: 30%;
}
@media only screen and (max-width: 675px) {
  .footer-form figcaption {
    top: 4rem;
  }
}
@media only screen and (max-width: 675px) {
  .footer-form .heading p {
    margin-top: 4px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-form .form-wrap {
  margin-top: 64px;
  max-width: 837px;
  margin-left: auto;
  margin-right: auto;
}
.footer-form .form-wrap .form {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  --color: var(--white);
  --labelbefore: var(--white);
  --labelafter: rgb(256 256 256 / .6);
  --borderbefore: var(--white);
  --borderafter: var(--primary);
}
@media only screen and (max-width: 675px) {
  .footer-form .form-wrap .form {
    justify-content: center;
    gap: 22px;
  }
}
.footer-form .form-wrap .form .form-group {
  flex: 1;
}
@media only screen and (max-width: 675px) {
  .footer-form .form-wrap .form .form-group {
    flex: 0 1 100%;
  }
}/*# sourceMappingURL=header.css.map */