@import '../_var'

.privacy-secA
    margin-top: var(--headerheight)
    padding: 6rem 0


.banner
    &.thanks-banner
        .bg
            @include media(767) 
                height: 600px
        .content
            h6
                max-width: 480px
                margin-left: auto
                margin-right: auto
                margin-bottom: 42px