@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.contact-banner .bg video, .banner.contact-banner .bg img {
  filter: grayscale(1);
}
.banner.contact-banner .banner-wrapper h1 {
  font-size: 36px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--gradient-a);
  display: inline-block;
  letter-spacing: 0.5em;
}
@media only screen and (max-width: 767px) {
  .banner.contact-banner .banner-wrapper h1 {
    letter-spacing: 0.2em;
  }
}
@media only screen and (max-width: 675px) {
  .banner.contact-banner .banner-wrapper h1 {
    font-size: 30px;
  }
}

.contact-secA {
  background-position: 0 100%, 17% 50%;
  background-size: 100% auto, 110px;
  padding: 15% 0;
}
@media only screen and (max-width: 1240px) {
  .contact-secA {
    padding: 10% 0;
  }
}
@media only screen and (max-width: 1200px) {
  .contact-secA {
    background-size: 87% auto, 80px;
    background-position: 0 100%, 14% 50%;
  }
}
@media only screen and (max-width: 1007px) {
  .contact-secA {
    background-size: 100% auto, 40px;
    background-position: 0 100%, 50% 8%;
    padding: 12rem 0;
  }
}
.contact-secA .content {
  max-width: 800px;
  margin-left: auto;
}
@media only screen and (max-width: 1200px) {
  .contact-secA .content {
    max-width: 700px;
  }
}
@media only screen and (max-width: 1007px) {
  .contact-secA .content {
    max-width: 100%;
  }
}
.contact-secA .content .heading {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1007px) {
  .contact-secA .content .heading {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .contact-secA .content .heading {
    text-align: center;
  }
}
.contact-secA .content .contact-inf {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
@media only screen and (max-width: 1240px) {
  .contact-secA .content .contact-inf {
    gap: 20px;
  }
}
.contact-secA .content .contact-inf .col-md {
  flex: 1;
  display: block;
  padding: 30px 12px;
  text-align: center;
  border-image-source: var(--gradient-a);
  border-image-repeat: repeat;
  border-image-slice: 1;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  position: relative;
}
.contact-secA .content .contact-inf .col-md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--gradient-a);
}
@media only screen and (max-width: 675px) {
  .contact-secA .content .contact-inf .col-md {
    flex: 0 1 100%;
  }
}
.contact-secA .content .contact-inf .col-md::before {
  z-index: -1;
  transition: 0.5s ease;
  opacity: 0;
}
.contact-secA .content .contact-inf .col-md .ico {
  margin-bottom: 1rem;
}
.contact-secA .content .contact-inf .col-md .ico path {
  transition: 0.5s ease;
}
.contact-secA .content .contact-inf .col-md h6 {
  color: var(--white);
  font-family: Optima;
  line-height: 1.2;
  transition: 0.5s ease;
}
@media only screen and (max-width: 1240px) {
  .contact-secA .content .contact-inf .col-md h6 {
    font-size: 18px;
  }
}
.contact-secA .content .contact-inf .col-md:hover::before {
  opacity: 1;
}
.contact-secA .content .contact-inf .col-md:hover .ico path {
  fill: var(--black);
}
.contact-secA .content .contact-inf .col-md:hover h6 {
  color: var(--black);
}
.contact-secA .content .contact-inf .col-md:first-child:hover .ico path {
  fill: none;
  stroke: var(--black);
}

.contact-secB {
  line-height: 0;
}
.contact-secB iframe {
  height: calc(100vh - var(--headerfixed));
  filter: grayscale(1);
}
@media only screen and (max-width: 1007px) {
  .contact-secB iframe {
    height: 500px;
  }
}

.contact-secC .heading {
  max-width: 519px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 675px) {
  .contact-secC .heading {
    max-width: 300px;
  }
}
.contact-secC .form-wrap {
  max-width: 813px;
  margin-left: auto;
  margin-right: auto;
}
.contact-secC .form-wrap .form {
  --item: 2;
  --color: var(--white);
  --labelbefore: none;
  --labelafter: none;
  --borderbefore: var(--gradient-a);
  --borderafter: var(--gradient-b);
  --gaplr: 57px;
  --gaptb: 31px;
}
@media only screen and (max-width: 675px) {
  .contact-secC .form-wrap .form {
    --item: 1;
  }
}
.contact-secC .form-wrap .form label, .contact-secC .form-wrap .form .current {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--gradient-a);
}
.contact-secC .form-wrap .form .submit-grp .btn {
  --padding: 55px;
}/*# sourceMappingURL=contact.css.map */