@import '../_var'

.banner
    &.contact-banner
        .bg
            video,img
                filter: grayscale(1)
        .banner-wrapper
            h1
                font-size: 36px
                @include gradient-text
                display: inline-block
                letter-spacing: 0.5em
                @include media(767)
                    letter-spacing: 0.2em
                @include media(675)
                    font-size: 30px
.contact-secA
    // background: url(../../images/vector/building-2.svg) no-repeat, url(../../images/logo-icon.svg) no-repeat
    background-position: 0 100%, 17% 50%
    background-size: 100% auto, 110px
    padding: 15% 0
    @include media(1240)
        padding: 10% 0
    @include media(1200)
        background-size: 87% auto, 80px
        background-position: 0 100%, 14% 50%
    @include media(1007)
        background-size: 100% auto, 40px
        background-position: 0 100%, 50% 8%
        padding: 12rem 0
    .content
        max-width: 800px
        margin-left: auto
        @include media(1200)
            max-width: 700px
        @include media(1007)
            max-width: 100%
        .heading
            margin-bottom: 4rem
            @include media(1007)
                margin-bottom: 2rem
            @include media(767)
                text-align: center
        .contact-inf
            @include flex
            gap: 22px
            @include media(1240)
                gap: 20px
            .col-md
                flex: 1
                display: block
                padding: 30px 12px
                text-align: center
                @include gradient-border
                @include before($gradient-a)
                @include media(675)
                    flex: 0 1 100%
                &::before
                    z-index: -1
                    transition: .5s ease
                    opacity: 0
                .ico
                    margin-bottom: 1rem
                    path
                        transition: .5s ease
                h6
                    color: $white
                    font-family: $Optima
                    line-height: 1.2
                    transition: .5s ease
                    @include media(1240)
                        font-size: 18px
                &:hover
                    &::before
                        opacity: 1
                    .ico
                        path
                            fill: $black
                    h6
                        color: $black
                &:first-child
                    &:hover
                        .ico
                            path
                                fill: none
                                stroke: $black


.contact-secB
    line-height: 0
    iframe
        height: calc( 100vh - var(--headerfixed) )
        filter: grayscale(1)
        @include media(1007)
            height: 500px
.contact-secC
    .heading
        max-width: 519px
        margin-left: auto
        margin-right: auto
        margin-bottom: 4rem
        @include media(675)
            max-width: 300px
    .form-wrap
        max-width: 813px
        margin-left: auto
        margin-right: auto
        .form
            --item: 2
            --color: var(--white)
            --labelbefore: none
            --labelafter: none
            --borderbefore: var(--gradient-a)
            --borderafter: var(--gradient-b)
            --gaplr: 57px
            --gaptb: 31px
            @include media(675)
                --item: 1
            label,.current
                @include gradient-text
            .custom-select
                &::before
                    // background-image: url(../../icon/arrow-down-gradient.svg)
            .submit-grp
                .btn
                    --padding: 55px